<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Species</th>
      <th>Height</th>
      <th>Girth</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each province.championTrees}}
      <tr>
        <td>
          {{species}}
        </td>
        <td>
          {{height}}
        </td>
        <td>
          {{girth}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          <a href="/province/{{../province.title}}/seemore/{{title}}" class="button is-small is-info">
            See More
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>