<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Species</th>
      <th>Height</th>
      <th>Girth</th>
      <th>County</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each province.championTrees}}
      <tr>
        <td>
          {{species}}
        </td>
        <td>
          {{height}}
        </td>
        <td>
          {{girth}}
        </td>
        <td>
          {{county}}
        </td>
        <td>
          <a href="/province/{{../province.title}}/deletetree/{{title}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>