<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Height</th>
      <th>Girth</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each province.userTrees}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{height}}
        </td>
        <td>
          {{girth}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          <a href="/province/{{../province.title}}/deleteusertree/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>