<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each user}}
      <tr>
        <td>
          {{firstName}} {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          {{password}}
        </td>
        <td>
          {{_id}}
        </td>
        <td>
          <a href="/admin/deleteuser/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>